{% load static %}
<div class="container">
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="underline">HOME</a></li>
                <li><a href="{% url 'about' %}" class="underline">ABOUT</a></li>
                <li><a href="{% url 'all_posts' %}" class="underline">BLOG</a></li>
                <li><a href="{% url 'all_projects' %}" class="underline">PROJECTS</a></li>
            </ul>
        </nav>
        <img src="{% static 'img/menu.png' %}" class="menu-icon">
    </div>
</div>