*{
    /* margin:0; */
    /* padding:0; */
    font-family: 'Roboto', sans-serif;
    /* box-sizing: border-box; */
} 

.navbar {
    padding-left: 5%;
    padding-right: 5%;
    height: 12%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    cursor:pointer;
}

.menu-icon{
    width: 30px;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}