*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #000000; */
    background: url('../img/maps.jpg');
    /* background: url('../img/trees.jpg'); */
}

.container{
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    height: 200vh;
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 8%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: cornsilk;
    pointer-events: none;
}

.a-nav{
    /* margin: 15px; */
    padding-right: 25px;
    padding-left: 25px;
    color: rgb(255, 253, 249);
    text-decoration: none;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 15px;
}



.categories-navbar{
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 35px;
    z-index: 1;
    margin-top: 31.5px;
    /* opacity: 95%; */
}

.category-nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 8%;
    margin-left: 8%;
}

.category-a{
    font-size: 12px;
    font-weight: bold;
}

.category-a:hover{
    text-decoration: underline;
}

/* .categories{
    background-color: rgb(255, 255, 255);
    margin-right: 95px;
    margin-left: 115px;
    opacity: 50%;
    width: 1000px;
    height: 40px;
    opacity: 80%;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    margin-top: 80px;
} */

.a-category{
    padding: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.a-category:link {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

.a-category:hover {
    text-decoration: underline;
}

.a-category:visited {
    text-decoration: none;
    color: rgb(116, 112, 112);
}

/* .title{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 100px;
}
h1{
    color: #fff;
    float: center;
    font-size: 60px;   
} */


.post-block{
    padding: 30px 50px 30px 15px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    margin: 100px;
    margin-top: 80px;
}

.post-content{
    background-color: rgb(0, 0, 0);   
    padding: 20px;
    opacity: 80%;
    color: #fff;
    height: 150px;
    border-radius: 10px;

}

p{
    padding: 10px;
    font-size: 12px;
}


h2{
    font-size: 16px;
}

.post-date{
    font-size: 10px;
}

img{
    width: 220px;
    height: 150px;
    /* height: 280px; */
    opacity: 90%;
    border-radius: 10px;

}

.read-more:link {
    text-decoration: none;
    color: rgb(248, 178, 178);
  }

.read-more:hover {
    text-decoration: underline;
}

.read-more:visited {
    text-decoration: none;
    color: rgb(116, 112, 112);
}

/* .category-title{
    text-decoration: none;
} */

.footer{
    font-size: 9px;
    color: #fff;
    margin-top: 440px;
    float: center;
    margin-left: 520px;
    margin-bottom: 0px;

}