*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #000000; */
    background: url('../img/maps.jpg');
}

.navbar{
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(29, 29, 29);
    width: 100%;
    height: 70px;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 8%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: cornsilk;
    pointer-events: none;
}

.a-nav{
    /* margin: 15px; */
    padding-right: 25px;
    padding-left: 25px;
    color: rgb(255, 253, 249);
    text-decoration: none;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 17px;
}



.container {
    width = 100%;
    height: 100vh;
    background-size: cover;
    /* padding-left: 5%;
    padding-right: 5%; */
    box-sizing: border-box;
}


.categories{
    background-color: black;
    margin-top: 10px;
    margin-right: 80px;
    margin-left: 80px;
    opacity: 50%;
    width: 1072px;
    height: 60px;
    opacity: 80%;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content:flex-start;
}

.a-category{
    padding: 10px;
    margin-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.a-category:link {
    text-decoration: none;
    color: rgb(248, 178, 178);
  }

.a-category:hover {
    text-decoration: underline;
}

.a-category:visited {
    text-decoration: none;
    color: rgb(116, 112, 112);
}

h1{
    color: #fff;
    float: center;
    font-size: 60px;
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 20px;
}

.navbar {
    padding-left: 5%;
    padding-right: 5%;
    height: 12%;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    cursor:pointer;
}

.menu-icon{
    width: 30px;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}


.post-block{
    /* border: 3px solid; */
    /* width: 550px;
    height: 600px; */
    /* same border px as .top-bar: */
    padding: 30px 50px 30px 15px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: repeat(4, 1fr); */
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
    gap: 15px;
    margin: 60px;
    margin-top: 2px;
    /* height: 20px; */
}

.post-content{
    background-color: rgb(0, 0, 0);   
    /* border: 3px solid; */
    padding: 20px;
    opacity: 80%;
    color: #fff;
    height: 150px;
    border-radius: 10px;

}

p{
    padding: 10px;
    font-size: 12px;
}


h2{
    font-size: 14px;
}

.post-date{
    font-size: 10px;
}

.post-img{
    /* border: 3px solid; */

}

img{
    width: 220px;
    height: 150px;
    /* height: 280px; */
    opacity: 80%;
    border-radius: 10px;

}

.go-to-project{
    color: rgb(248, 178, 178);
}

.go-to-project:link {
    text-decoration: none;
    color: rgb(248, 178, 178);
  }

.go-to-project:hover {
    text-decoration: underline;
}

/* .go-to-project:visited {
    text-decoration: none;
    color: rgb(116, 112, 112);
} */