{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/about_page.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar">
            <a href="#" class="logo">ABOUT</a>
            <ul class="nav">
                <li><a class="a-nav" href="{% url 'home' %}">HOME</a></li>
                <li><a class="a-nav" href="{% url 'about' %}">ABOUT</a></li>
                <li><a class="a-nav" href="{% url 'all_posts' %}">BLOG</a></li>
                <li><a class="a-nav" href="{% url 'all_projects' %}">PROJECTS</a></li>
            </ul>
        </div>
        <div class="content">
            <!-- <img src="{% static 'img/wale_black.png' %}" class="menu-icon">  -->
            
            <p>{% firstof about.content "Hi, My name is Inbar and I'm a Junior developer" %}</p>
            {% for photo in about.photos.all %}
                {% if not photo.is_background %}
                    <img src="{{ photo.image.url }}" class="about-img">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>


