{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid - Exercise 1</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  </head>
  <body>
        <div class="navbar">
            <a href="#" class="logo">BLOG</a>
            <ul class="nav">
                <li><a class="a-nav" href="{% url 'home' %}">HOME</a></li>
                <li><a class="a-nav" href="{% url 'about' %}">ABOUT</a></li>
                <li><a class="a-nav" href="{% url 'all_posts' %}">BLOG</a></li>
                <li><a class="a-nav" href="{% url 'all_projects' %}">PROJECTS</a></li>
            </ul>
        </div>
        <div class="container"> 
        <div class="title">
            <h1>BLOG</h1>
        </div>
            <div class="categories-navbar">
                <ul class="category-nav">
                    {% for category in categories %}
                    <li><a class="a-nav category-a" href="{% url 'post_by_category' category.slug %}">{{category.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        <div class="post-block"> 
            {% for post in posts %}
                <div class="post-img">
                {% if post.cover_photo %}
                    <img src="{{ post.cover_photo.image.url }}">
                {% endif %}
                </div>
                <div class="post-content">
                    
                    <h2 class="subtitle">{{post.title}}</h2>
                    <div class="post-date">Posted at {{ post.date_added }}</div>
                    <p>{{ post.intro }}</p>
                    <!-- category-code -->
                    <a class="read-more" href="{% url 'post_detail' post.slug %}" class="">Read more</a>
                </div>
            {% endfor %}
            <!-- <div class="footer">© Inbar Fischer 2021 · Made in Django</div> -->
        </div>
        

    </div>
</body>
</html>