{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/home_new.css' %}">
</head>

<body >
    <div class="container" >
        <div class="navbar">
            <!-- <a href="#" class="logo">HOME</a> -->
            <ul class="nav">
                <li><a class="a-nav" href="{% url 'home' %}">HOME</a></li>
                <li><a class="a-nav" href="{% url 'about' %}">ABOUT</a></li>
                <li><a class="a-nav" href="{% url 'all_posts' %}">BLOG</a></li>
                <li><a class="a-nav" href="{% url 'all_projects' %}">PROJECTS</a></li>
            </ul>
        </div>
        
        <div class="main">
            <div class="maintext">
            <h1>{% firstof home.title "Welcome!" %}</h1>
            <p>{% firstof home.intro "Hi, My name is Inbar and I'm a Junior developer" %}</p>
            <div class="button-links">
                {% for link in home.links.all %}
                <a href="{{link.url}}"><button class="{% if link.title == 'Linkedin' %}btn_linkedin{% elif link.title == 'Git'%}btn_git{% else %}btn_contact{% endif %}">{{ link.title }}</button></a>    
                {% endfor %}
            </div>
            </div>
            <div class="project-cards">
            {% for project in projects %}
                {% if project.is_featured %}
                    <div class="project-card">
                        <h2 class="project-title">{{project.title}}</h2>
                        <p class="project-intro">{{ project.intro }}</p>
                        {% if project.cover_photo %}
                            <div class="project-img">
                                <img src="{{ project.cover_photo.image.url }}">
                            </div>
                        {% endif %}
                        <div class="div-go-to-project">
                            <a class="go-to-project" href="{% url 'project_detail' project.slug %}">Go to project</a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="footer">© Inbar Fischer 2021 · Made in Django</div>
    </div>
</body>
</html>