{% extends "base.html" %}
{% block content %}
{% for project in projects %}
    <div class="post-block">
        <h2 class="subtitle">{{project.title}}</h2>

        <div class="small">Posted at {{ project.date_added }}</div>

        <p>{{ project.intro }}</p>

        {% if project.cover_photo %}
            <div class="project-img">
                <img src="{{ project.cover_photo.image.url }}">
            </div>
        {% endif %}

        <a href="{% url 'project_detail' project.slug %}" class="">Read more</a>
    </div>
{% endfor %}


{% endblock content %}