{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>post_detail</title>
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
  </head>
  <body>
        <div class="navbar">
            <a href="#" class="logo">PROJECTS</a>
            <ul class="nav">
                <li><a class="a-nav" href="{% url 'home' %}">HOME</a></li>
                <li><a class="a-nav" href="{% url 'about' %}">ABOUT</a></li>
                <li><a class="a-nav" href="{% url 'all_posts' %}">BLOG</a></li>
                <li><a class="a-nav" href="{% url 'all_projects' %}">PROJECTS</a></li>
            </ul>
        </div>
        <div class="container"> 
        <div class="title">
            <h1>projects</h1>
        </div>
        
        <div class="post-block">
            <h2 class="title">{{project.title}}</h2>
            <div class="posted-at">Posted at {{ project.date_added }}</div>
            <div class="intro">{{ project.intro }}</div>
            {% if project.cover_photo %}
                <img src="{{ project.cover_photo.image.url }}">
            {% endif %}

            <hr>

            <p>{{ project.body }}</p>

            <hr>

            <!-- display all photos if not cover photo and if exist-->
            {% for photo in project.photos.all %}
                {% if not photo.is_cover %}
                    <img class="cover-photo" src="{{ photo.image.url }}">
                {% endif %}
            {% endfor %}

            {% if project.project_video %}
                <video width="620" controls>
                    <source src="{{ video.video.url }}" type='video/mp4'>
                    </source>
                </video>
            {% endif %}
           
            <hr>

            <h2 class="subtitle">Comments</h2>
            {% for comment in project.comments.all %}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ comment.name }}</strong> <small>{{ comment.date_added }}</small>
                                <br>
                                {{ comment.body }}
                            </p>
                        </div>
                    </div>
                </article>
            {% empty %}
                <div class="notification">
                    <p>No comments yet.</p>
                </div>
            {% endfor %}

            <h2 class="subtitle">Add Comment</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="field">
                    <div class="control">
                        <button class="button is-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
