{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid - Exercise 1</title>
    <link rel="stylesheet" href="{% static 'css/projects_new.css' %}">
  </head>
  <body>
      <!-- <div class="container">   -->
        <div class="navbar">
            <a href="#" class="logo">PROJECTS</a>
            <ul class="nav">
                <li><a class="a-nav" href="{% url 'home' %}">HOME</a></li>
                <li><a class="a-nav" href="{% url 'about' %}">ABOUT</a></li>
                <li><a class="a-nav" href="{% url 'all_posts' %}">BLOG</a></li>
                <li><a class="a-nav" href="{% url 'all_projects' %}">PROJECTS</a></li>
            </ul>
        </div>
        <!-- <h1>PROJECTS</h1> -->
        <div class="container">
            <div class="title">
                <h1>PROJECTS</h1>
            </div>
            <div class="post-block"> 
                {% for project in projects %}
                    <div class="post-img">
                        {% if project.cover_photo %}
                            <div class="project-img">
                                <img src="{{ project.cover_photo.image.url }}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="post-content">
                        <h2 class="subtitle">{{project.title}}</h2>
                        <div class="post-date">Posted at {{ project.date_added }}</div>
                        <p>{{ project.intro }}</p>
                        <a class="go-to-project" href="{% url 'project_detail' project.slug %}">Go to project</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

