{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid - Exercise 1</title>
    <link rel="stylesheet" href="{% static 'css/projects.css' %}">
  </head>
  <body>
      <div class="container">  
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}" class="underline">HOME</a></li>
                    <li><a href="{% url 'about' %}" class="underline">ABOUT</a></li>
                    <li><a href="{% url 'all_posts' %}" class="underline">BLOG</a></li>
                    <li><a href="{% url 'all_projects' %}" class="underline">PROJECTS</a></li>
                </ul>
            </nav>
            <!-- <img src="{% static 'img/menu.png' %}" class="menu-icon"> -->
        </div>
        <h1>PROJECTS</h1>
        <div class="post-block"> 
            {% for project in projects %}
                <div class="post-img">
                    {% if project.cover_photo %}
                        <div class="project-img">
                            <img src="{{ project.cover_photo.image.url }}">
                        </div>
                    {% endif %}
                </div>
                <div class="post-content">
                    <h2 class="subtitle">{{project.title}}</h2>
                    <div class="post-date">Posted at {{ project.date_added }}</div>
                    <p>{{ project.intro }}</p>
                    <a href="{% url 'project_detail' project.slug %}" class="">Read more</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>

